@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: fontFamily.standard;
    font-size: 18px;
  }

  :root {
    --max-width: 350px;
  }
}
